---
import "../../../styles/components/post-listing.css"
import { MONTHS } from "../../../scripts/_types"
const { postFile } = Astro.props

const title: string = postFile.title
const filePath: string = postFile.filePath
const url = "/" + postFile.id
const date: Date = new Date(postFile.date)
const month: string = MONTHS[date.getMonth()]
const day: number = date.getDate()
const description: string = postFile.description
const category: string = postFile.category
---

<article class="post-listing">
    <div class="date-content">
        <p class="month">{month}</p>
        <p class="day">{day}</p>
        <span class="moon-phase">O</span>
    </div>
    <div class="text-content">
        <p>{category}</p>
        <p class="post-title">
            <a href={url}>{title}</a>
        </p>
        <p class="post-description">{description}</p>
    </div>
</article>
