---
const { src, alt, eyebrow, headline, detail, path } = Astro.props
import "../../styles/components/instax.css"
import "../../scripts/components/instax.ts"
---

<instax>
    <a href={path}><img src={src} alt={alt} /></a>
    <div id="text">
        <p class="eyebrow">{eyebrow}</p>
        <p class="headline"><a href={path}>{headline}</a></p>
        <p>{detail}</p>
    </div>
</instax>
