---
import "../../styles/components/stamp.css"

interface StampProps {
    title: string
    tags: string[]
    description: string
    links: Record<string, string>
    image: string
    video: string
}

const { title, tags, description, links, image, video } =
    Astro.props as StampProps
---

<div class="stamp">
    <div class="stamp-image">
        {image && <img src={image} />}
        {
            video && (
                <video autoplay muted playsinline loop>
                    <source src={video} type="video/mp4" />
                </video>
            )
        }

        <div class="meta">
            <div class="meta-text">
                <p class="links">
                    {
                        Object.entries(links).map(([name, url]) => {
                            return (
                                <a target="_blank" href={url}>
                                    {name}
                                </a>
                            )
                        })
                    }
                </p>
                <div class="tags">
                    {
                        tags.map((tag) => {
                            return <p class="tag-item">{tag}</p>
                        })
                    }
                </div>
            </div>
        </div>
    </div>

    <div class="info">
        <h2 class="title">
            <a target="_blank" href="https://3d-cat-room.meilu.dev/">{title}</a>
        </h2>
        <p class="description">{description}</p>
    </div>
</div>
