---
import "../styles/pages/home.css"
import GithubIcon from "../assets/deco/github.svg"
import EmailIcon from "../assets/deco/email.svg"
import LinkedinIcon from "../assets/deco/linkedin.svg"
import Layout from "../templates/layouts/layout.astro"
import Stamp from "../templates/components/stamp.astro"
import CatRoom from "../assets/projects/cat-room.mp4"
import DesignSystem from "../assets/projects/design-system.webp"
import ScribbleHero from "../assets/projects/scribblehero.mp4"
import KirbyPortal from "../assets/projects/kirby_portal.mp4"
import WashiBlue from "../assets/deco/washi_blue.png"
import WashiJean from "../assets/deco/washi_jean.png"
import WashiPink from "../assets/deco/washi_pink.png"
---

<Layout title="Mei Lu">
    <div id="petal-layer" aria-hidden="true"></div>
    <div id="home">
        <section id="hero" class="lock" data-size="min">
            <h1 class="bubble-letter" id="name">Mei Lu</h1>

            <div class="hero-container">
                <p>
                    Developer and Artist. Currently working at the University of
                    Maryland and pursuing a M.S. in AI
                    <br /><br />
                    I love creating joyful interactive experiences ✿
                </p>
            </div>
        </section>

        <section id="portfolio" class="lock">
            <h2 class="sr-only">Portfolio</h2>
            <div class="portfolio-grid">
                <Stamp
                    title="Kirby Dimensional Rift"
                    tags={["Godot", "Blender"]}
                    description="3D piece for Another Corner's video game art show. Assets were modeled in Blender, and animated in Godot. Deployed on Raspberry Pi with a camera module for gallery display."
                    video={KirbyPortal}
                    links={{
                        // Demo: "/",
                        // Blog: "/portfolio-site",
                        // GitHub: "https://github.com/mei-lu/ScribbleHero",
                    }}
                />

                <Stamp
                    title="Scribble Hero Snap Spectacles AR Game"
                    tags={["AR", "Snap Spectacles"]}
                    description="Players sketches are classified and used as tools to fight fires in AR. Won Honorable Mention for Game Prototyping at MIT Reality Hack 2026!"
                    video={ScribbleHero}
                    links={{
                        // Demo: "/",
                        // Blog: "/portfolio-site",
                        GitHub: "https://github.com/mei-lu/ScribbleHero",
                    }}
                />

                <Stamp
                    title="Cozy Cat Room"
                    tags={["Web", "Three.js", "Blender"]}
                    description="A cute Three.js room with interactive objects, optimized for the browser with baked lighting."
                    video={CatRoom}
                    links={{
                        Demo: "https://3d-cat-room.meilu.dev/",
                        Blog: "/blog/3d-room-blender-threejs",
                        GitHub: "https://github.com/mei-lu/isometric-cat-room",
                    }}
                />

                <Stamp
                    title="University of Maryland Design System"
                    tags={["JS Library", "Web Components"]}
                    description="Created framework agnostic Web Components and maintained frontend monorepo for the UMD design system."
                    image={DesignSystem.src}
                    links={{
                        Demo: "https://designsystem.umd.edu/components",
                        GitHub: "https://github.com/UMD-Digital/design-system",
                    }}
                />
            </div>
        </section>

        <section id="contact" class="lock" data-size="small">
            <div id="instax-slider">
                <svg
                    viewBox="0 0 443 60"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <path
                        id="instax-path"
                        d="M0.157181 0.47464C152.657 50.9746 311.157 54.9746 442.657 0.47464"
                        stroke="black"></path>
                </svg>
                <div id="instax-1" class="instax-wrapper">
                    <div class="instax-card">
                        <img
                            class="washi"
                            src={WashiJean.src}
                            aria-hidden="true"
                        />
                        <div class="instax-image">
                            <a
                                href="https://www.linkedin.com/in/meil"
                                target="_blank"
                                rel="noopener noreferrer"
                                class="instax-card"
                                ><img
                                    src={LinkedinIcon.src}
                                    alt="LinkedIn"
                                /></a
                            >
                        </div>
                        <p class="instax-info">
                            <a
                                href="https://www.linkedin.com/in/meil"
                                target="_blank"
                                rel="noopener noreferrer"
                                class="instax-card">LinkedIn</a
                            >
                        </p>
                    </div>
                </div>
                <div id="instax-2" class="instax-wrapper">
                    <div class="instax-card">
                        <img
                            class="washi"
                            src={WashiPink.src}
                            aria-hidden="true"
                        />
                        <div class="instax-image">
                            <a
                                href="https://github.com/mei-lu"
                                target="_blank"
                                rel="noopener noreferrer"
                                class="instax-card"
                                ><img src={GithubIcon.src} alt="GitHub" /></a
                            >
                        </div>
                        <p class="instax-info">
                            <a
                                href="https://github.com/mei-lu"
                                target="_blank"
                                rel="noopener noreferrer"
                                class="instax-card">GitHub</a
                            >
                        </p>
                    </div>
                </div>
                <div id="instax-3" class="instax-wrapper">
                    <div class="instax-card">
                        <img
                            class="washi"
                            src={WashiBlue.src}
                            aria-hidden="true"
                        />
                        <div class="instax-image">
                            <a
                                href="mailto:lumeidev@gmail.com"
                                class="instax-card"
                                ><img src={EmailIcon.src} alt="Email" /></a
                            >
                        </div>
                        <p class="instax-info">
                            <a
                                href="mailto:lumeidev@gmail.com"
                                class="instax-card">Email</a
                            >
                        </p>
                    </div>
                </div>
            </div>
        </section>
    </div>
</Layout>

<script>
    import gsap from "gsap"
    import { SplitText } from "gsap/all"
    import Sakura1 from "../assets/deco/sakura1.svg?raw"
    import Sakura2 from "../assets/deco/sakura2.svg?raw"
    import Sakura3 from "../assets/deco/sakura3.svg?raw"
    import Sakura4 from "../assets/deco/sakura4.svg?raw"
    import MotionPathPlugin from "gsap/MotionPathPlugin"
    import { debounce } from "../scripts/utilities"

    gsap.registerPlugin(MotionPathPlugin)

    const SakuraPetals = () => {
        const PETAL_COUNT = 15

        const sakuraPetals = [Sakura1, Sakura2, Sakura3, Sakura4]
        const petalListLength = sakuraPetals.length
        const petalElements: HTMLElement[] = []

        const petalLayer = document.querySelector<HTMLElement>("#petal-layer")

        if (!petalLayer) return

        for (let i = 0; i < PETAL_COUNT; i++) {
            const randomPetalIndex = Math.floor(Math.random() * petalListLength)
            const petalContainer = document.createElement("span")
            petalContainer.className = "petal"

            petalContainer.innerHTML = sakuraPetals[randomPetalIndex]
            petalElements.push(petalContainer)
        }

        const floatPetal = (petal: HTMLElement) => {
            return gsap.fromTo(
                petal,
                {
                    scale: 0.2,
                    x: () => gsap.utils.random(-250, 0),
                    y: () => gsap.utils.random(-300, 0),
                    rotate: () => gsap.utils.random(-50, 50),
                    opacity: 1,
                },
                {
                    scale: () => gsap.utils.random(0.2, 0.4),
                    x: () =>
                        gsap.utils.random(
                            window.innerWidth * 0.3,
                            window.innerWidth * 0.9
                        ),
                    y: () => gsap.utils.random(200, 400),
                    ease: "power1.inOut",
                    duration: () => gsap.utils.random(5, 10),
                    repeat: -1,
                    repeatRefresh: true,
                    opacity: 0,
                }
            )
        }

        const startShower = () => {
            petalElements.forEach((petal) => {
                petalLayer.appendChild(petal)
                floatPetal(petal).progress(Math.random())
            })
        }

        startShower()
    }

    const InstaxPolaroids = () => {
        const positions = {
            mobile: { "instax-1": 0.85, "instax-2": 0.5, "instax-3": 0.15 },
            desktop: { "instax-1": 0.85, "instax-2": 0.5, "instax-3": 0.15 },
        }

        const placeCard = (id: keyof typeof positions.mobile) => {
            const isMd = window.matchMedia("(min-width: 768px)").matches
            const position = isMd ? positions.desktop[id] : positions.mobile[id]

            gsap.set(`#${id}`, {
                motionPath: {
                    path: "#instax-path",
                    align: "#instax-path",
                    alignOrigin: [0.5, 0],
                    autoRotate: true,
                    end: position,
                },
            })
        }

        const cards = ["instax-1", "instax-2", "instax-3"] as const

        cards.forEach(placeCard)

        window.addEventListener(
            "resize",
            debounce(() => cards.forEach(placeCard), 150)
        )
    }

    const AnimateName = () => {
        const split = SplitText.create("#name")

        gsap.from(split.chars, {
            scale: 0,
            duration: 1,
            stagger: 0.25,
            autoAlpha: 0,
        })
    }

    const prefersReducedMotion = window.matchMedia(
        "(prefers-reduced-motion: reduce)"
    ).matches

    InstaxPolaroids()

    if (!prefersReducedMotion) {
        SakuraPetals()
        AnimateName()
    }
</script>
