---
import { getCollection } from "astro:content"
import Layout from "../../templates/layouts/layout.astro"
import "../../styles/pages/post.css"

export const getStaticPaths = async () => {
    const gardenPosts = await getCollection("garden")

    return gardenPosts.map((post) => ({
        params: {
            slug: post.id,
        },
        props: {
            post,
        },
    }))
}

const { post } = Astro.props
const title = post.data.title
const description = post.data.description
const body = post.body
const date = new Date(post.data.date).toLocaleDateString()
---

<Layout title={title}>
    <div id="post" class="lock" data-size="small">
        <div class="return">
            <a href="/garden" aria-label="Return to digital garden home">Back</a
            >
        </div>
        <div class="post-meta">
            <h1 class="post-title">{title}</h1>
            <div class="post-date">Planted {date}</div>
            <p class="post-description">{description}</p>
        </div>
        <hr />
        <div class="post-body">{body}</div>
    </div>
</Layout>
