---
import "../../styles/pages/garden.css"
import Layout from "../..//templates/layouts/layout.astro"
import { CATEGORIES } from "../../scripts/_types"
import { updatePostsIndex } from "../../scripts/garden"
await updatePostsIndex()
---

<template id="post-template">
    <article class="post-listing">
        <div class="date-content">
            <p class="month"></p>
            <p class="day"></p>
            <p class="year"></p>
        </div>
        <div class="text-content">
            <p class="category"></p>
            <p class="post-title"><a></a></p>
            <p class="post-description"></p>
        </div>
    </article>
</template>

<Layout title="mei's digital garden">
    <main id="garden" class="lock">
        <p>
            My digital <a
                target="_blank"
                aria-label="Wikipedia page of the Hobonichi Techo"
                href="https://en.wikipedia.org/wiki/Hobonichi_Techo">techo</a
            >
            collecting my thoughts and interests
        </p>

        <div>
            <input id="garden-search" type="search" placeholder="Search" />
        </div>

        <div id="garden-categories">
            {
                CATEGORIES.map((category) => {
                    return (
                        <div
                            class="garden-category-tag"
                            data-category={category}>
                            <span>{category}</span>
                        </div>
                    )
                })
            }
        </div>

        <section id="garden-results"></section>
    </main>
</Layout>

<script>
    import type { PostCategory, PostResult } from "../../scripts/_types"
    import { MONTHS } from "../../scripts/_types"
    import PostData from "../../content/posts.json"
    import { debounce } from "../../scripts/utilities"

    const Garden = async () => {
        const categoryTags = document.querySelectorAll(
            ".garden-category-tag"
        ) as NodeListOf<HTMLElement>
        const searchInput = document.querySelector(
            "#garden-search"
        ) as HTMLInputElement
        const resultsContainer = document.querySelector("#garden-results")

        let searchTerm: string = ""
        let searchCategory: Set<string> = new Set()

        if (!categoryTags || !resultsContainer || !searchInput) {
            console.warn("Missing page elements")
            return
        }

        const updateResults = () => {
            const renderPosts = (
                postsByMonth: Record<string, PostResult[]>
            ) => {
                const postListingTemplate =
                    document.querySelector<HTMLTemplateElement>(
                        "#post-template"
                    )
                const sortedKeys = Object.keys(postsByMonth).sort(
                    (a, b) => new Date(b).getTime() - new Date(a).getTime()
                )
                if (!postListingTemplate) {
                    console.warn("Missing post listing")
                    return
                }

                resultsContainer.innerHTML = ""

                for (const key of sortedKeys) {
                    const keyDate = new Date(key)
                    const monthIndex = keyDate.getMonth()
                    const keyYear = keyDate.getFullYear()
                    const posts = postsByMonth[key]
                    const header = document.createElement("div")
                    header.className = "garden-header"
                    header.textContent = MONTHS[monthIndex] + " " + keyYear
                    resultsContainer.appendChild(header)

                    for (const post of posts) {
                        const fragment = postListingTemplate.content.cloneNode(
                            true
                        ) as DocumentFragment
                        const postDate = new Date(post.date)
                        const month = fragment.querySelector(".month")
                        const day = fragment.querySelector(".day")
                        const year = fragment.querySelector(".year")
                        const category = fragment.querySelector(".category")
                        const title = fragment.querySelector(".post-title a")
                        const description =
                            fragment.querySelector(".post-description")

                        const slug = post.slug

                        if (month) month.textContent = MONTHS[monthIndex]
                        if (day) day.textContent = String(postDate.getDate())
                        if (year)
                            year.textContent = String(postDate.getFullYear())
                        if (category) category.textContent = post.category
                        if (title) {
                            title.textContent = post.title
                            title.setAttribute("href", `/garden/${slug}`)
                        }
                        if (description)
                            description.textContent = post.description

                        resultsContainer.appendChild(fragment)
                    }
                }
            }

            const filterPosts = ({
                year,
                categories,
                search,
            }: {
                year?: number
                categories?: Set<string>
                search?: string
            }) => {
                const postResults: PostResult[] = []

                return PostData.reduce((postResults, post) => {
                    const postYear = new Date(post.date).getFullYear()
                    if (year && postYear !== year) return postResults

                    if (
                        categories &&
                        categories.size > 0 &&
                        !categories.has(post.category)
                    ) {
                        return postResults
                    }

                    if (search) {
                        const searchTermLower = search.toLowerCase()
                        const haystack =
                            `${post.title} ${post.description}`.toLowerCase()
                        if (!haystack.includes(searchTermLower))
                            return postResults
                    }

                    postResults.push({
                        slug: post.slug,
                        title: post.title,
                        date: new Date(post.date),
                        description: post.description,
                        category: post.category,
                    } as PostResult)

                    return postResults
                }, postResults)
            }

            const groupPostsByTime = (
                posts: PostResult[]
            ): Record<string, PostResult[]> => {
                const grouped: Record<string, PostResult[]> = {}

                for (const post of posts) {
                    const date = new Date(post.date)
                    const key = new Date()

                    key.setMonth(date.getMonth())
                    key.setDate(1)
                    key.setFullYear(date.getFullYear())

                    const keyString = key.toDateString()

                    if (!grouped[keyString]) {
                        grouped[keyString] = []
                    }

                    grouped[keyString].push(post)
                }

                return grouped
            }

            const newPosts = filterPosts({
                search: searchTerm,
                categories: searchCategory,
            })

            const results = groupPostsByTime(newPosts)
            renderPosts(results)
        }

        const setCategoryTags = (categoryTag: HTMLElement) => {
            const category = categoryTag.getAttribute(
                "data-category"
            ) as PostCategory
            const selectedAttribute = "data-selected"

            categoryTag.addEventListener("click", () => {
                const selectedCategoryTag = document.querySelector(
                    `.garden-category-tag[${selectedAttribute}=true]`
                )
                categoryTag.setAttribute(selectedAttribute, "true")

                if (selectedCategoryTag) {
                    selectedCategoryTag.removeAttribute(selectedAttribute)
                }

                searchCategory = new Set([category])

                updateResults()
            })
        }

        const setSearch = () => {
            searchInput.addEventListener("input", () => {
                searchTerm = searchInput.value
                debounce(() => updateResults(), 400)()
            })
        }

        categoryTags.forEach((categoryTag) => {
            setCategoryTags(categoryTag)
        })

        setSearch()
        updateResults()
    }

    document.addEventListener("DOMContentLoaded", () => {
        Garden()
    })
</script>
